

.contact_containier {
    position: absolute;
    right: 58px;
    bottom: 58px;
    width: 61px;
    height: 61px;
  }
  
  .banner-btm-contact {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    left: 16px;
  }
  
  .circle-button {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--white);
    overflow: visible;
    transition: 0.3s ease-in-out;
  }
  
  .mail-icon {
    width: 100%;
    height: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
  }
  
  .text-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: 10s linear 0s infinite normal none running rotateCircle;
  }
  
  .text-circle text {
    font-size: 30px;
    fill: var(--white);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  /* / Rotate the entire SVG around its center / */
  @keyframes rotateCircle {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  



  @media screen and (max-width:768px) {
    .contact_containier {
      position: absolute;
      right: 58px;
      bottom: 25px;
      width: 61px;
      height: 61px;
    }
    
  }



  /* after before slide  */


.container {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  --position: 50%;
}



.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: .2rem;
  height: 100%;
  background-color: #fff;
  /* z-index: 10; */
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button {
  position: absolute;
  background-color: #fff;
  color: black;
  padding: .5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* z-index: 100; */
  box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
}

@media screen and (max-width: 767px) {

  .contact_containier {
    position: absolute;
    right: 24px;
    bottom: 24px;
    width: 46px;
    height: 46px;
  }

  .banner-btm-contact {
    position: absolute;
    bottom: 8px;
    left: 1px;
    z-index: 1;
  }

  .circle-button {
    position: relative;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--white);
    transition: 0.3s ease-in-out;
  }

  .mail-icon {
    width: 100%;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
  }

  .text-circle {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: rotateCircle 10s linear infinite;
  }

  .text-circle text {
    font-size: 20px;
    fill: var(--white);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

}


@media screen and (min-width:992px) {
  .bg-grid {
  background-position: 63% 85px !important;

}
}
