

.contact_containier {
    position: absolute;
    right: 58px;
    bottom: 58px;
    width: 61px;
    height: 61px;
  }
  
  .banner-btm-contact {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    left: 16px;
  }
  
  .circle-button {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--white);
    overflow: visible;
    transition: 0.3s ease-in-out;
  }
  
  .mail-icon {
    width: 100%;
    height: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
  }
  
  .text-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: 10s linear 0s infinite normal none running rotateCircle;
  }
  
  .text-circle text {
    font-size: 30px;
    fill: var(--white);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  /* / Rotate the entire SVG around its center / */
  @keyframes rotateCircle {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  

