@import "tailwindcss";



body {
  font-family: var(--font-plus-jakarta), sans-serif;
}



nav ul{
  font-family: var(--font-satoshi), sans-serif;
}

.ff-satoshi{
  font-family: var(--font-satoshi), sans-serif;

}
.ff-inter {
  font-family: var(--font-inter), sans-serif;
}